@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-slate-200;

    font-family: 'Poppins', sans-serif;
}

.comfortaa {
    font-family: 'Comfortaa', cursive;
}

.card-carousel::-webkit-scrollbar {
    width: 0;
}
